@use "sass:math";

$context: 16px;

@function em($pixels, $context: $context) {
    @return 1em * math.div($pixels, $context);
}
  
@mixin hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}